extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | ToDo app helps you organise your daily tasks and reminds you to complete.
        | <br /><br />
        | It helps you make your day perfect by acting as a personal manager.
        | <br /><br />
        | This app helps you to remind your works so that it completes on time and you are appreciated.
        | <br /><br />
        | You just have to add your tasks and delete once you complete your task.